body {
    font-family: 'Times New Roman', sans-serif;
}

#container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:50px;
}

#user_form {
    width: 30%;
    text-align:center;
}

#book_display {
    width: 60%;
    margin-top: 55px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 10px;
}


#new_book, #add_book, #delete_button {
    padding: 10px;
    border: 1px dashed #121212;
    background-color: #00ffdd;
    font-family: Tahoma sans-serif;
    color: #121212;
    text-transform: uppercase;
}


form {
    border: 2px dashed #00ffdd;
    margin-top:20px;
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

form label{
    font-size: 1.2em;
    margin-top: 10px;
}

    form input[type=text],  input[type=number] {
        width: 70%;
        height: 30px;
        border: 1px solid #00ffdd;
    }

    form input[type=checkbox] {
        width: 30px;
        height: 30px;
    }

#book_card {
    border: 2px solid #00ffdd;
    width: auto;
    height: auto;
    padding: 20px;
}

    #book_card h2, h3, h4, h5 {
        text-align:center;
       
    }


#toogle_button {
    padding: 10px;
    border: 1px dashed #121212;
    background-color: white;
    font-family: Tahoma sans-serif;
    color: #121212;
}

#card_buttons{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}




